.MovieListItem-wrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
}

.MovieListItem-image {
  width: 80px;
}

.MovieListItem-contents-wrapper {
  margin-left: 25px;
}

.MovieListItem-title {
  margin-top: 0;
}
